software/codigos/nodered/Liveroute_final.json
[{"id":"14ad98f1eb433484","type":"tab","label":"Liveroute","disabled":false,"info":"","env":[]},{"id":"bac6e0596a1ebde2","type":"mqtt in","z":"14ad98f1eb433484","name":"liveroute/esp32","topic":"liveroute/esp32","qos":"0","datatype":"auto-detect","broker":"1b40cfad4f86cb3d","nl":false,"rap":true,"rh":0,"inputs":0,"x":260,"y":460,"wires":[["12512c46b467d343","3b6b8ed4abde576c"]]},{"id":"1723fc7001a0ef80","type":"debug","z":"14ad98f1eb433484","name":"Temperatura","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":400,"wires":[]},{"id":"7d0126a28d5c80ad","type":"function","z":"14ad98f1eb433484","name":"function 2","func":"let id = { payload: msg.payload.id };\nlet timestamp = { payload: msg.payload.timestamp };\nlet humidity = { payload: msg.payload.humidity };\nlet temperature = { payload: msg.payload.temperature };\nlet message = { payload: msg.payload.message }; // El bot칩n de ayuda\nlet motion = { payload: msg.payload.motion };\nlet latitude = { payload: msg.payload.latitude };\nlet longitude = { payload: msg.payload.longitude };\n\nreturn [id, timestamp, humidity, temperature, message, motion, latitude, longitude];\n","outputs":8,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":460,"wires":[["865654e9c64c0489"],["e1c583b3de8bf8aa","0ad24693edf062e9"],["30b745de0c6b9846","0eadfc2e60f4a74e","05fba7b180f66a56"],["1723fc7001a0ef80","4bf99b260b064189","e907bff4a9085cd7"],["fa22b596f8624cde","2a918b7c4510efba"],["53101435dfac8213","cd7572f8d482ff9c","bc7e5db42da83d84"],["8d5dc35d466ddfaf"],["76b6f02013d105e6"]]},{"id":"4bf99b260b064189","type":"ui_gauge","z":"14ad98f1eb433484","name":"","group":"22412e934fd73756","order":0,"width":"6","height":"5","gtype":"gage","title":"","label":"춿C","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"16","seg2":"26","diff":false,"className":"","x":1250,"y":440,"wires":[]},{"id":"30b745de0c6b9846","type":"debug","z":"14ad98f1eb433484","name":"Humedad","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":280,"wires":[]},{"id":"422fdfcedec5347c","type":"debug","z":"14ad98f1eb433484","name":"Estado","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1480,"y":520,"wires":[]},{"id":"53101435dfac8213","type":"debug","z":"14ad98f1eb433484","name":"Vibracion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":660,"wires":[]},{"id":"05fba7b180f66a56","type":"ui_gauge","z":"14ad98f1eb433484","name":"","group":"6372c82d10d7c70a","order":0,"width":"6","height":"5","gtype":"gage","title":"","label":" %H.R.","format":"{{value}}","min":0,"max":"100","colors":["#f5ec00","#00b500","#ca3838"],"seg1":"40","seg2":"60","diff":false,"className":"","x":1250,"y":360,"wires":[]},{"id":"cd7572f8d482ff9c","type":"ui_gauge","z":"14ad98f1eb433484","name":"","group":"ae1f7ce636012b0f","order":0,"width":"6","height":"5","gtype":"gage","title":"","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0","seg2":"","diff":false,"className":"","x":1250,"y":700,"wires":[]},{"id":"e907bff4a9085cd7","type":"ui_chart","z":"14ad98f1eb433484","name":"","group":"22412e934fd73756","order":1,"width":"18","height":"5","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1250,"y":480,"wires":[[]]},{"id":"0eadfc2e60f4a74e","type":"ui_chart","z":"14ad98f1eb433484","name":"","group":"6372c82d10d7c70a","order":1,"width":"18","height":"5","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1250,"y":320,"wires":[[]]},{"id":"bc7e5db42da83d84","type":"ui_chart","z":"14ad98f1eb433484","name":"","group":"ae1f7ce636012b0f","order":1,"width":"18","height":"5","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1250,"y":740,"wires":[[]]},{"id":"fa22b596f8624cde","type":"ui_switch","z":"14ad98f1eb433484","name":"Estado","label":"Estado","tooltip":"","group":"6fac6a73afbd71bd","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"liveroute/esp32","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1260,"y":540,"wires":[["422fdfcedec5347c"]]},{"id":"12512c46b467d343","type":"debug","z":"14ad98f1eb433484","name":"Objeto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":320,"wires":[]},{"id":"6baf6a311cd29a3e","type":"ui_audio","z":"14ad98f1eb433484","name":"","group":"dd32e9b65e168066","voice":"com.apple.voice.compact.es-MX.Paulina","always":true,"x":1480,"y":560,"wires":[]},{"id":"5b06780840ca650e","type":"ui_toast","z":"14ad98f1eb433484","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1510,"y":600,"wires":[]},{"id":"2a918b7c4510efba","type":"function","z":"14ad98f1eb433484","name":"function 5","func":"let message = msg.payload;\n\nif (message === 1) {\n    msg.payload = \"Samuel activ칩 la alarma\";\n} else {\n    msg.payload = \"Samuel est치 bien\";\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":580,"wires":[["6baf6a311cd29a3e","5b06780840ca650e","51a252fb57b859cd"]]},{"id":"51a252fb57b859cd","type":"debug","z":"14ad98f1eb433484","name":"Alarmas","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1480,"y":640,"wires":[]},{"id":"0ad24693edf062e9","type":"function","z":"14ad98f1eb433484","name":"function 4","func":"// Esta funci칩n recibe un timestamp en milisegundos\nlet timestamp = msg.payload;\n\n// Convertir el timestamp de milisegundos a un objeto de fecha de JavaScript\nlet date = new Date(timestamp);\n\n// Obtener las horas y el d칤a, mes y a침o\nlet hours = date.getUTCHours();\nlet day = date.getUTCDate();\nlet month = date.getUTCMonth(); // Enero es 0\nlet year = date.getUTCFullYear();\n\n// Definimos los l칤mites de tiempo\n// 10 p.m. del d칤a anterior\nlet startOfRange = new Date(year, month, day - 1, 22, 0, 0);\n// 6 a.m. del d칤a siguiente\nlet endOfRange = new Date(year, month, day, 6, 0, 0);\n\n// Comparamos las fechas\nif (date >= startOfRange && date < endOfRange) {\n    msg.payload = \"Alerta: el veh칤culo se est치 moviendo\";\n} else {\n    msg.payload = \"El veh칤culo est치 detenido\";\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":240,"wires":[["a0f246f4938bcd1c","05cb5e05cda2f9a2","a9fbe70f92bfdcd5"]]},{"id":"a0f246f4938bcd1c","type":"ui_audio","z":"14ad98f1eb433484","name":"","group":"e448bc495f678c33","voice":"com.apple.voice.compact.es-MX.Paulina","always":true,"x":1500,"y":240,"wires":[]},{"id":"05cb5e05cda2f9a2","type":"ui_toast","z":"14ad98f1eb433484","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1530,"y":280,"wires":[]},{"id":"a9fbe70f92bfdcd5","type":"debug","z":"14ad98f1eb433484","name":"Alerta","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1490,"y":200,"wires":[]},{"id":"20eee4d8c9c107cd","type":"influxdb out","z":"14ad98f1eb433484","influxdb":"51a0e0e139b81c8c","name":"Influxdb Red Familia_Cruz","measurement":"proyecto_integrador","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":780,"y":600,"wires":[]},{"id":"c68fca4ee1e47353","type":"comment","z":"14ad98f1eb433484","name":"","info":"IP RED ISABEL : 192.168.137.206\nIP RED FAMILIA_CRUZ : 192.168.1.113\nIP RED SAMUEL : 192.168.137.31\nDATABASE: proyecto_integrador\n------------------------------\nID chat : 4700072228\nID BOT : 7824172640:AAFGzJc4wDRQO2NJYwJsaoC77777777778F\n--------------------------------","x":280,"y":320,"wires":[]},{"id":"865654e9c64c0489","type":"debug","z":"14ad98f1eb433484","name":"id","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":140,"wires":[]},{"id":"8d5dc35d466ddfaf","type":"debug","z":"14ad98f1eb433484","name":"Latitud","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":780,"wires":[]},{"id":"76b6f02013d105e6","type":"debug","z":"14ad98f1eb433484","name":"Longuitud","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":820,"wires":[]},{"id":"3b6b8ed4abde576c","type":"function","z":"14ad98f1eb433484","name":"function 6","func":"// Si el payload es un string, intentar convertirlo a JSON\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Error al parsear JSON: \" + e.message);\n        return null;\n    }\n}\n\n// Renombramos/mapeamos claves a nombres estandarizados\nmsg.payload = {\n    id: \"esp32_samuel\", // Puedes cambiar esto por un ID real si aplica\n    humidity: parseFloat(msg.payload.humedad) || 0,\n    temperature: parseFloat(msg.payload.temperatura) || 0,\n    latitude: parseFloat(msg.payload.latitud) || 0,\n    longitude: parseFloat(msg.payload.longitud) || 0,\n    motion: msg.payload.movimiento || 0,\n    message: msg.payload.ayuda || 0,\n    timestamp: Date.now()\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":460,"wires":[["7d0126a28d5c80ad","e3c8dc50c1ad5cd6","d22b71639a49d726"]]},{"id":"e3c8dc50c1ad5cd6","type":"influxdb out","z":"14ad98f1eb433484","influxdb":"51a0e0e139b81c8c","name":"Influxdb Red Isabel","measurement":"proyecto_integrador","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":750,"y":640,"wires":[]},{"id":"6a8641e43e400a36","type":"influxdb out","z":"14ad98f1eb433484","influxdb":"51a0e0e139b81c8c","name":"Influxdb Red Samuel","measurement":"proyecto_integrador","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":760,"y":680,"wires":[]},{"id":"e1c583b3de8bf8aa","type":"debug","z":"14ad98f1eb433484","name":"timestamp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":180,"wires":[]},{"id":"4dd83f65f4709951","type":"telegram sender","z":"14ad98f1eb433484","name":"","bot":"24422889f370d30d","haserroroutput":false,"outputs":1,"x":890,"y":260,"wires":[[]]},{"id":"d22b71639a49d726","type":"function","z":"14ad98f1eb433484","name":"function 1","func":"if (msg.payload.message === 1) {\n    let lat = msg.payload.latitude;\n    let lng = msg.payload.longitude;\n\n    msg.payload = {\n        chatId: \"-4762572228\",  // 丘멆잺 Reemplaza esto si usas m칰ltiples chats\n        type: \"message\",\n        content: `游뚿 춰Bot칩n de ayuda presionado!\\n游늸 Coordenadas:\\nLat: ${lat}\\nLng: ${lng}\\nhttps://www.google.com/maps?q=${lat},${lng}`\n    };\n    return msg;\n} else {\n    return null;  // No hacer nada si message no es 1\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":340,"wires":[["4dd83f65f4709951"]]},{"id":"69d5723c729cf70e","type":"inject","z":"14ad98f1eb433484","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"net_id\":1,\"humidity\":55,\"temperature\":24.7,\"help\":0,\"motion\":1,\"lat\":20.123456,\"lng\":-99.123456}","payloadType":"json","x":140,"y":680,"wires":[["5ae996ecfc43eb48"]]},{"id":"5ae996ecfc43eb48","type":"function","z":"14ad98f1eb433484","name":"function 3","func":"function numeroAleatorio(min, max, decimales = 0) {\n    const factor = Math.pow(10, decimales);\n    return Math.round((Math.random() * (max - min) + min) * factor) / factor;\n}\n\nmsg.payload = {\n    id: numeroAleatorio(1, 10),\n    timestamp: new Date().toISOString(),\n    humidity: numeroAleatorio(40, 80, 1),          // %\n    temperature: numeroAleatorio(20, 35, 1),       // 춿C\n    message: numeroAleatorio(0, 1),                // 0 o 1\n    motion: numeroAleatorio(0, 1),                 // 0 o 1\n    latitude: numeroAleatorio(20.1, 20.3, 6),      // Lat Mixquiahuala aprox\n    longitude: numeroAleatorio(-99.3, -99.1, 6)    // Lng Mixquiahuala aprox\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":680,"wires":[["fc9d26e6e7c144cd"]]},{"id":"fc9d26e6e7c144cd","type":"mqtt out","z":"14ad98f1eb433484","name":"","topic":"liveroute/esp32","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b3da37cdf55a553","x":520,"y":680,"wires":[]},{"id":"1b40cfad4f86cb3d","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"24422889f370d30d","type":"telegram bot","botname":"liveroute_bot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","pollinterval":300,"usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":6667,"socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbothost":"0.0.0.0","localbotport":8443,"publicbotport":8443,"privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"8b3da37cdf55a553","type":"mqtt-broker","name":"EMQ X","broker":"broker.emqx.io","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]